@use "bases" as *;
.nav {
  padding: 2rem $mobile-padding;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 2rem $tablet-padding;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 2rem $desktop-padding;
  }
}

.main {
  padding: 5rem $mobile-padding;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  // FIRST SECTION
  &__first {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  &__wrapper {
    svg {
      path {
      }
    }
  }

  &__link {
    font-size: $md-font;
    background-color: $dark-blue-color;
    max-width: fit-content;
    padding: 1.7rem 3.2rem;
    border-radius: 0.5rem;
    color: $white-cream-color;
    text-transform: capitalize;
    font-weight: bold;
    transition: background-image 0.3s;
    &:hover {
      background-image: linear-gradient(
        to bottom right,
        $pink-color,
        $yellow-color
      );
    }
  }

  // MIDDLE SECTION

  &__middle {
  }

  &__img--mobile {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__img--portrait {
    display: none;
  }
  // LAST

  &__last {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 3rem;
    .stats {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  @media (min-width: 768px) {
    padding: 5rem $tablet-padding;
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    // FIRST
    &__first {
      max-width: 33rem;
      max-height: 60vh;
      align-self: center;
    }

    // MIDDLE
    &__middle {
      max-width: 30rem;
      max-height: 60vh;
    }

    &__img--mobile {
      display: none;
    }

    &__img--portrait {
      display: block;
      height: 100%;
      width: 100%;
    }

    // LAST

    &__last {
      flex-direction: row;
      justify-content: space-around;
      .stats {
      }
    }
  }
  @media (min-width: 1187px) {
    &__last {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .stats {
      }
    }
  }

  @media (min-width: 1440px) {
    padding: 5rem $desktop-padding;
  }
}

@media (min-width: 1441px) {
  body {
    padding: 0 calc((100% - 1440px) / 2);
  }
}
