@use "bases" as *;
.nav {
  padding: 2rem $mobile-padding;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 2rem $tablet-padding;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 2rem $desktop-padding;
  }
}

.main {
  .section1 {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 5rem $mobile-padding;
    // FIRST SECTION
    &__first {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      justify-content: center;
      max-width: 40rem;
      gap: 3rem;
    }
    &__wrapper {
      svg {
        path {
        }
      }
    }
    &__link {
      font-size: $md-font;
      background-color: $dark-blue-color;
      max-width: fit-content;
      padding: 1.7rem 3.2rem;
      border-radius: 0.5rem;
      color: $white-cream-color;
      text-transform: capitalize;
      font-weight: bold;
      transition: background-image 0.3s;
      &:hover {
        background-image: linear-gradient(
          to bottom right,
          $pink-color,
          $yellow-color
        );
      }
    }
    // MIDDLE SECTION

    &__middle {
    }

    &__img--mobile {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }

    &__img--portrait {
      display: none;
    }
    // LAST

    &__last {
      display: flex;
      //   flex-direction: column;
      flex-wrap: wrap;
      margin: auto;
      gap: 3rem;
      flex: 1 1 auto;
      .stats {
        flex: 1 1 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }

  @media (min-width: $breakpoint-tablet) {
    .section1 {
      padding: 5rem $tablet-padding;
      &__container {
        flex-flow: row wrap;
        gap: 5rem;
      }

      // FIRST
      &__first {
        flex: 1 1 35rem;
      }

      // MIDDLE
      &__middle {
        flex: 1 1 auto;
        max-width: 25rem;
        max-height: 60vh;
      }

      &__img--mobile {
        display: none;
      }

      &__img--portrait {
        display: block;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }

      // LAST

      &__last {
        flex-direction: row;
        justify-content: space-around;
        .stats {
          flex: 1;
        }
      }
    }
  }
  @media (min-width: 1096px) {
    .section1 {
      gap: 0;
      &__last {
        flex-direction: column;
        margin-left: auto;
        gap: 7rem;
        .stats {
          margin-right: auto;
        }
      }
      &__middle {
        max-width: 50rem;
      }
    }
  }
  @media (min-width: 1440px) {
    .section1 {
      padding: 5rem $desktop-padding;
    }
  }
}
// FOOTER
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-top: 18rem;
  border-radius: 1.5rem;
  background-color: $dark-blue-color;
  //   margin-bottom: 8rem;
  position: relative;
  z-index: 1;
  .person {
    margin-top: -17rem;
    position: relative;
    &__img--small {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__img--large {
      display: none;
    }
  }

  &__testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0 $mobile-padding 5rem $mobile-padding;
  }
  @media (min-width: $breakpoint-tablet) {
    margin-inline: $tablet-padding;
    margin-bottom: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    // MIDDLE
  }
  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0;
    max-height: 60vh;
    svg {
      margin-top: -20rem;
    }
    .person {
      flex: 1 1 30rem;
      max-width: 30rem;
      margin-top: -10rem;
      &__img--small {
        display: none;
      }

      &__img--large {
        display: block;
        width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }

    &__testimonial {
      flex: 1 1 35rem;
      max-width: 35rem;
      align-items: flex-start;
      p {
        text-align: left;
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    margin-inline: $desktop-padding;
  }
}

.footer {
  background-color: $cream-color;
  &__container {
    margin-inline: $tablet-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0 8rem 0;
    margin-top: -5rem;
    gap: 4rem;
  }

  &__links {
    display: flex;
    gap: 2rem;
    align-items: center;

    svg {
      cursor: pointer;
      transition: fill 0.3s;
    }
    svg:hover path {
      fill: $grey-color;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    margin-top: -30rem;
    &__container {
      padding: clamp(6.25rem, -14.6231rem + 70.0585vw, 32.125rem) 0 8rem 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  @media (min-width: $breakpoint-desktop) {
    &__container {
      margin-inline: $desktop-padding;
    }
  }
}

@media (min-width: 1441px) {
  body {
    padding: 0 calc((100% - 1440px) / 2);
  }
}
