@use "bases" as *;

.main {
  &__heading {
    font-size: 3.8rem;
    color: $dark-blue-color;
    font-weight: 300;

    span {
      font-weight: bold;
    }
  }
  &__text {
    font-size: $sm-font;
    line-height: 1.8;
    text-align: justify;
    color: $grey-color;
  }

  .stats {
    &__heading {
      font-size: $lg-font;
      text-transform: uppercase;
    }

    &__text {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: $grey-color;
      letter-spacing: 0.2rem;
    }
  }

  @media (min-width: 768px) {
    &__heading {
      font-size: 5.6rem;
      width: 160%;
      z-index: 1;
      position: relative;
    }
  }
}
